<%-include ('partials/_header') %>
<h1>Aksme</h1>
<div class="conteiner">
    <div class="row mt-5" >
        <div class="col-md-5">

        </div>
        <div class="col-md-5">
            <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Empezar</a>
            <br>
            <br>
        </div>


    </div>
</div>
<%-include ('partials/_footer')%>



