<%-include ('partials/_header') %>
<h1>Bienvenido a Aksme</h1>

<div class="container mt-5">

    <div class="row">
        <div class="col-md-5">
            <div class="card" >
                <div class="card-body">
                    <form action="/" method="post">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Escriba un Nickname</label>
                            <input type="text"  name="user_nick" placeholder="Nickname" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Cantidad de preguntas</label>
                            <select class="form-control" name="can_id" id="exampleFormControlSelect1" >
                                <option value="5"  >5 Preguntas</option>
                                <option value="10" >10 Preguntas</option>
                                <option value="20" >20 Preguntas</option>
                                <option value="30" >30 Preguntas</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Elija la complejidad</label>
                            <select class="form-control" name="lev_id" id="exampleFormControlSelect1" >
                                <option value="1" >Inicial</option>
                                <option value="2" >Primaria</option>
                                <option value="3" >Secundaria</option>
                                <option value="4" >Universidad</option>
                            </select>
                        </div>

                        <% if(data === 0){ %><% }else{ %>
                            <div class="alert alert-danger" role="alert">
                                El <b>Nickname <%= nick %> ya existe</b>, Intente con otro.
                            </div>
                        <% }%>
                        <button type="submit" class="btn btn-success">Empezar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




<%-include ('partials/_footer')%>



