<%-include ('partials/_header')%>


<div class="container">
    <div class="row mt-5" >
        <div class="col-md-5">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Pregunta</th>
                    <th>Respuesta correcta</th>
                    <th>Incorrecto</th>
                    <th>Incorrecto</th>
                    <th>Incorrecto</th>
                    <th>Acciones</th>
                </tr>
            </thead>
        </table>

        </div>

    </div>
</div>


<a href="/add">Volver</a>
<%-include ('partials/_footer')%>