{{#if success}}
    <div class="container p-4">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="alert alert-success alert-dismissible fade show " role="alert">
                    {{success}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <apan aria-hidden="true">&times;</apan>
                    </button>
                </div>
            </div>
        </div>
    </div>
{{/if}}
{{#if warning}}
    <div class="container p-4">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="alert alert-danger alert-dismissible fade show " role="alert">
                    {{warning}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <apan aria-hidden="true">&times;</apan>
                    </button>
                </div>
            </div>
        </div>
    </div>
{{/if}}