<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000000;">
    <!-- <nav class="navbar navbar-dark bg-dark">-->
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/icons/icon-main.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            Aksme
        </a>
        <div class="collapse navbar-collapse " id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto">
            </ul>
            {{#if user }}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Mi perfil</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/question" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ver lista
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/teachers/">Docentes</a>
                        <a class="dropdown-item" href="/student">Estudiantes</a>
                    </div>
                </li>
                {{#if (isTeacher user)}}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/question" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Preguntas
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/question/">Mis preguntas</a>
                            <a class="dropdown-item" href="/question/all">Todas preguntas</a>
                            <a class="dropdown-item" href="/question/add">Crear preguntas</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/question" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Examen
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/question/">Mis examenes</a>
                            <a class="dropdown-item" href="/question/all">Todas exámenes</a>
                            <a class="dropdown-item" href="/question/all">Crear exámen</a>
                            <a class="dropdown-item" href="/question/add">Tomar exámen</a>
                        </div>
                    </li>
                 {{/if}}

                <li class="nav-item">
                    <a class="nav-link" href="/logout">Cerrar sesión</a>
                </li>
            </ul>
            {{else}}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/signin">Iniciar sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Crear cuenta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                </ul>
            {{/if}}
        </div>
    </div>
</nav>
