<body class="text-center">

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">


</div>
<div class="container">
    <div class="text-center">
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Desarrollo</h1>
            <p class="lead">Software desarrollado por SDTech</p>

            <h4 align="center">By SebastiánEPH</h4>
            <p align="center">
                <a href="https://t.me/sebastianeph" > <img src="https://www.vectorlogo.zone/logos/telegram/telegram-icon.svg" width="40" height="40"/> </a>
                <a href="https://t.me/SebastianEPH_bot" > <img src="https://www.vectorlogo.zone/logos/telegram/telegram-icon.svg" width="40" height="40"/> </a>
                <a href="https://www.youtube.com/channel/UCerQxFkwZZRxjcTuLX9FueA?view_as=subscriber" ><img src="https://www.vectorlogo.zone/logos/youtube/youtube-icon.svg" width="40" height="40"/> </a>
                <a href="https://www.linkedin.com/in/sebastianeph/"> <img src="https://www.vectorlogo.zone/logos/linkedin/linkedin-icon.svg" width="40" height="40"/> </a>
                <a href="mailto:sebastianeph99@gmail.com"> <img src="https://www.vectorlogo.zone/logos/gmail/gmail-icon.svg" width="40" height="40"/> </a>
                <a href="https://www.facebook.com/SebastianEPH"> <img src="https://www.vectorlogo.zone/logos/facebook/facebook-official.svg" width="40" height="40"/> </a>
                <a href= "https://github.com/SebastianEPH"> <img src="https://www.vectorlogo.zone/logos/github/github-tile.svg" width="40" height="40"/> </a>
                <a href= "https://gitlab.com/SebastianEPH"> <img src="https://devicon.dev/devicon.git/icons/gitlab/gitlab-original.svg" width="40" height="40"/> </a>
                <a href= "https://twitter.com/sebastianeph99/"> <img src="https://www.vectorlogo.zone/logos/twitter/twitter-tile.svg" width="40" height="40"/> </a>
                <a href= "https://www.instagram.com/sebastianeph99/"> <img src="https://www.vectorlogo.zone/logos/instagram/instagram-tile.svg" width="40" height="40"/> </a><br>
            </p>
            <br>
            <br>
            <br>
            <h4 align="center">By JosueChuqui</h4>
            <p align="center">
                <a href="https://t.me/JCHCREATIVE" > <img src="https://www.vectorlogo.zone/logos/telegram/telegram-icon.svg" width="40" height="40"/> </a>
                <a href="https://www.youtube.com/channel/UCF5qCAn-A9Ypk87nbhPQ96w" ><img src="https://www.vectorlogo.zone/logos/youtube/youtube-icon.svg" width="40" height="40"/> </a>
                <a href="mailto:chuqui981026@gmail.com"> <img src="https://www.vectorlogo.zone/logos/gmail/gmail-icon.svg" width="40" height="40"/> </a>
                <a href="hhttps://www.facebook.com/JosueChuqui98"> <img src="https://www.vectorlogo.zone/logos/facebook/facebook-official.svg" width="40" height="40"/> </a>
                <a href= "https://github.com/JosueChuqui98"> <img src="https://www.vectorlogo.zone/logos/github/github-tile.svg" width="40" height="40"/> </a>
                <a href= "https://www.instagram.com/josuechuqui_98/?hl=es-la/"> <img src="https://www.vectorlogo.zone/logos/instagram/instagram-tile.svg" width="40" height="40"/> </a><br>
            </p>

        </main>
        <br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br>
        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
        </footer>
    </div>
</div>