<main role="main">
    <div class="container-lg">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                <li data-target="#myCarousel" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="first-slide" src="/img/banner/banner-estudiante.png" height="500" alt="First slide">

                </div>

            </div>
        </div>
    </div>

    <br>
    <br>
    <div class="container marketing">
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Do<span class="text-muted">centes</span></h2>
                <p class="lead">Podrá crear, editar, eliminar preguntas y examenes, este sistema está pensado para los docentes de la especialidad de informática</p>
                <p class="lead">Podrá ver datos estadisticos de los estudiantes, examenes y preguntas</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="img/teacher_2.png" data-holder-rendered="true">
            </div>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Es<span class="text-muted">tudiantes</span></h2>
                <p class="lead">Como estudiante, podrá tomar examenes, ver notas y la lista de todos los estudiantes y docentes del sistema</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="img/teacher_1.png" data-holder-rendered="true">
            </div>
        </div>
    </div>



</main>