<!doctype html>
<html lang="en">
<head>
    <!-- CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css" >
    <title>Aksme</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="icons/question-signo.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
            Aksme
        </a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" href="/">Inicio<span class="sr-only">(current)</span></a>
                <a class="nav-link" href="/add">Agregar preguntas</a>
                <a class="nav-link" href="/show">Administrador de Preguntas</a>
                <a class="nav-link" href="/about">Acerca de</a>
            </div>
        </div>
    </nav>
